extends layout

block content
  h1 Hello
  h3 This application tracks the 25 most recent articles from each news outlet 
  h3 and extracts a sentiment score. These scores are used to compare the outlook of each station. 

  h4 enter an identifier code to get the sentiment for that outlet.

  button Get all scores

  each provider in data
    li #{provider.id} : #{provider.id}
    
   
